#portfolio
    padding: 90px 0
    background: #f8f9fa
    .textbox
        h1
            font-weight: 700
            font-size: 40px
        h3
            color: #7a7474
            margin: 18px 0 40px 0
    .minibox
        .textbox
            padding: 25px 0
            h2
                font-size: 23px
                font-weight: 700
                margin: 10px 0 8px 0
            h4
                color: #7a7474

