#portfolio
    padding: 90px 0
    background: #f8f9fa
    .textbox
        h1
            font-weight: 700
            font-size: 45px
        h3
            font-size: 20px
            color: #8b8484
            margin: 18px 0 53px 0
    .minibox
        padding: 20px 0
        .textbox
            padding: 25px 0
            background: #ffff
            h2
                font-size: 30px
                font-weight: 700
                margin: 10px 0 8px 0
            h4
                font-size: 18px
                color: #7a7474

