#services
    padding: 60px 0
    .textbox
        h1
            font-size: 38px
            font-weight: 700
            color: #110e0e
        h3
            font-size: 18px
            color: #7a7474
            padding: 20px 0
    .box
        display: flex
        justify-content: center
        align-items: center
        .minibox
            display: flex
            justify-content: center
            align-items: center
            width: 100px
            height: 100px
            border-radius: 100%
            background-color: #ffc800
            margin: 20px 0 5px 0
            .icon
                font-size: 40px
                color: #ffff
    .col-md-4
        .textbox
            h2
                font-size: 23px
                color: #141313
                font-weight: 700
                margin: 15px 0
            h5
                color: #837680
                line-height: 1.3
