#services
    padding: 60px 0
    .textbox
        h1
            font-size: 40px
            font-weight: 700
            color: #110e0e
            font-family: Arial, Helvetica, sans-serif
        h3
            font-size: 18px
            color: #7a7474
            padding: 20px 0
            font-style: italic
            font-family: serif
