#welcome
    .box
        width: 800px
        height: 600px
        background-image: url(assestt/header-bg.jpg)
        background-repeat: no-repeat
        background-size: cover
        .textbox
            h1
                font-size: 35px
                margin-left: -30px
                padding: 20px 0
            h2
                font-weight: 700
                font-size: 80px
            .btn
                width: 208px
                height: 70px
                background-color: #ffc800
                border-radius: 8px
                &:hover
                    background-color: #d9aa00
            h5
                margin: 15px
                font-size: 20px
                font-weight: 700
