#welcome
    .imgbox
        overflow: hidden
        position: absolute
        top: -55px
        left: 0
        right: 0
        z-index: -1
    .textbox
        position: absolute
        top: 282px
        left: 284px
        h1
            font-size: 35px
            font-style: italic
            margin-left: -30px
            padding: 20px 0
        h2
            font-weight: 700
            font-size: 80px
            line-height: 4.5rem
            margin-bottom: 4rem
            margin-left: 3px
        h1,h2,h5
            color: #ffff
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        .btn
            width: 208px
            height: 70px
            background-color: #ffc800
            border-radius: 8px
            &:hover
                background-color: #d9aa00
            h5
                margin: 15px
                font-size: 20px
                font-weight: 700
