#welcome
    .box
        height: 700px
        background-image: url(assestt/header-bg.jpg)
        background-size: cover
        position: relative
        z-index: -1
        .textbox
            position: absolute
            top: 270px
            left: 243px
            h1
                font-size: 30px
                color: #ffff
            h3
                font-weight: 700
                font-size: 70px
                color: #ffff
                margin: 25px 0
            .btn
                width: 175px
                height: 60px
                background-color: #FFc800
                &:hover
                     background-color: #d9aa00
